body{
    margin: 0;
    background-color: #111827;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: white;
    margin-top: 30px;

}

.formulario{
    width: 70%;
    margin: auto;
    margin-top: 40xp;
}

.input-tarea{
    width: 70%;
    padding: 10px;
    border-radius: 8px ;
    border: none;
}

.button-agregar{
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* hay que usar outline: 2xp solid red para marcar lo que se esta trabajando */